.header{
    size:50px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 10px;
    color:rgb(90, 151, 179);
    
}
.title{
    padding-top: 90px;
    position: absolute;
}
.switch-to-login{
    padding-top: 1300px;
    position: absolute;
}

