.user-login-form {
    border-radius: 25px;
    height: 250px;
    width: 250px;
    background-color: rgb(104, 158, 111);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 10px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
  }

  .user-login-form .username {
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .user-login-form .password {
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

#btnLoginUser{
  background-color: rgb(29, 54, 33);
  color:white;
}